/* ========================
    GENERAL STYLE
=========================== */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* font-family: 'Roboto', sans-serif; */

/* colors: #0081AF
#00ABE7
#2DC7FF
#EAD2AC
#EABA6B */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #0081AF;
    font-family: 'Roboto', sans-serif;
}

.logo {
    width: 60vw;
    display: block;
    margin: 2vh auto;
}

/* ========================
    HEADER
=========================== */

#inputPlace {
    border: none;
    width: 80%;
    border-radius: 100px;
    padding: 1vh 2vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    display: block;
    margin: 0 auto;
    font-size: 1.6rem;
}

/* ========================
    MAIN
=========================== */

.home {
    padding: 1vh 1vh 0 1vh;
}

.wetterAktuell,
.wetterHeute,
.next5Tage {
    background-color: rgba(256, 256, 256);
    margin: 2vh 0;
}

/* Aktuelles Wetter/ Heute/ Nächste 5 Tage  */
h2 {
    text-align: center;
    color: #00ABE7;
    font-weight: 300;
    font-size: 1.6rem;
    padding: 2vh 0;
}

/* Datum InnerHTML */
h3 {
    font-size: 2rem;
    font-weight: 300;
    color: #EABA6B;
}

/* Temperatur */
h4 {
    font-size: 3rem;
    font-weight: 400;
    color: #EABA6B;
}

/* Aktuelles Wetter  */
.wetterAktuell>div,
.next5Tage>div {
    display: flex;
    justify-content: space-around;
    margin: 0 1vh;
    padding-bottom: 2vh;
}


.wetterAktuell div div:nth-of-type(1),
.next5Tage div div:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wetterAktuell div div:nth-of-type(2),
.next5Tage div div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.wetterAktuell div div p,
.next5Tage div div p {
    color: #0081AF;
    font-size: 1.2rem;
    font-weight: 300;
    text-align: left;
}

.wetterAktuell div div p:first-of-type {
    font-size: 1.6rem;
    padding-top: 3vh;
    padding-bottom: 1vh;
    color: #EABA6B;
}

.wetterHeute {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 1vh 1vh 1vh;
    gap: 10px;
}

#iconId3h,
#iconId6h,
#iconId9h,
#iconId12h {
    display: none;
}

/* Wetter Heute */

.wetterHeute h2 {
    grid-column: 1/5;
    grid-row: 1/2;
}

.wetterHeute div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wetterHeute div img {
    width: 80%;
    height: 10vh;
    object-fit: contain;
}

.wetterHeute div p:first-of-type {
    color: #EABA6B;
    font-size: 2rem;
    font-weight: 300;
}

.wetterHeute div p:nth-of-type(2) {
    color: #EABA6B;
    letter-spacing: 1px;
    font-size: 2.4rem;
    font-weight: 400;
}

.wetterHeute div p:last-of-type {
    color: #0081AF;
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    height: 25px;
    align-items: center;
    display: flex;
    margin: 1vh 0;
}

/* Nächste 5 Tage */
.next5Tage div div:nth-of-type(1) img {
    height: 80px;
    object-fit: contain;
}

.next5Tage div div:nth-of-type(2) {
    width: 60%;
}

.next5Tage div div p:first-of-type {
    font-size: 3rem;
    padding-bottom: 1vh;
    color: #EABA6B;
    font-weight: 400;
}

.next5Tage>div {
    padding-top: 2vh;
    border-bottom: 0.5px dashed #0081AF;
}

.border1,
.border2,
.border3,
.border4,
.border5 {
    padding-top: 2vh;
    border-bottom: none;
}

/* ========================
    FOOTER
=========================== */

footer {
    text-align: center;
    color: #EAD2AC;
    font-weight: 500;
    padding-bottom: 2vh;
}

/* ========================
    MEDIA QUERIES
=========================== */

@media screen and (min-width: 768px) {
    .startseite a img {
        width: 50vw;
    }
}

@media screen and (min-width: 1200px) {
    .startseite a img {
        width: 30vw;
    }
}